<div class="elementor-element elementor-element-form elementor-button-align-stretch elementor-widget elementor-widget-form">
  <div class="elementor-widget-container">
    <form class="elementor-form" method="post" name="Find a Pick Up Provider">
      <input type="hidden" name="nextpage" value="{{nextpage}}">
      <div class="elementor-form-fields-wrapper elementor-labels-above">
        <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-60 elementor-field-required">
          <label for="form-field-name" class="elementor-field-label visually-hidden" aria-hidden="true" aria-labelledby="Zip/Donation Code">Zip/Donation Code</label>
          <input size="1" type="text" name="pickupcode" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Zip/Donation Code" required="required" aria-required="true">
        </div>
        <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-40 e-form__buttons">
          <button type="submit" class="elementor-button elementor-size-sm">
          <span>
            <span class=" elementor-button-icon">
            </span>
            <span class="elementor-button-text">Find a Pick Up Provider</span>
          </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>