<style>
  .elementor-widget-form #form-field-pickupcode {border-radius: 3px 0 0 3px;}
  .elementor-widget-form #button-submit {border-radius: 0 3px 3px 0;}
</style>
<div class="elementor-element elementor-element-7c0a83f elementor-button-align-stretch elementor-widget elementor-widget-form">
  <div class="elementor-widget-container">
    <form class="elementor-form" method="post" name="City Pages">
      <input type="hidden" name="nextpage" value="{{nextpage}}">
      <div class="elementor-form-fields-wrapper elementor-labels-above">
        <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-60 elementor-field-required">
          <input size="1" type="text" name="pickupcode" id="form-field-pickupcode" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Zip/Donation Code" required="required" aria-required="true">
        </div>
        <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-40 e-form__buttons">
          <button type="submit" class="elementor-button elementor-size-sm" id="button-submit">
          <span>
            <span class=" elementor-button-icon">
            </span>
            <span class="elementor-button-text">Submit</span>
          </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>