<form action="" method="post">
  <input type="hidden" name="nextpage" value="{{nextpage}}">
  <input type="text" class="form" name="pickupcode" placeholder="Enter your Zip/Donation Code">
  <button class="form full" type="submit">Find a Pick Up Provider</button>
</form>