<div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-widget elementor-widget-heading" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">Your Organization Page</h2>
        </div>
    </div>
    <div class="elementor-element elementor-widget elementor-widget-text-editor" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
            <p>Your organization benefits from the increased visibility of your listing on our site:</p>
        </div>
    </div>
    <div class="elementor-element elementor-align-center elementor-widget elementor-widget-button" data-element_type="widget" data-widget_type="button.default">
        <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
                <a class="elementor-button elementor-button-link elementor-size-sm" href="{{org_page_url}}" target="_blank">
                    <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">View Your Organization Page</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>